---
title: Choose Your Destiny
layout: layouts/home.njk
description: Indiehacker insights, technology syndication, & SaaS micro-exits
image: https://getablaza.com/img/ablaza-fb-og.png
date: 2023-12-26
---

<p>
I'm Xavi Ablaza - Data Center Mogul & Technical Founder.
</p>

<p>
In the war against your future problems, you begin by amassing wealth and abundance.
</p>

<p>
I will win each battle by syndicating with trusted friends.
</p>

<p>
By collectively building a shared pool of knowledge & opportunities,
the lives of the deserving can be changed for the better.
</p>

<h3>
For Founders & Operators
</h3>

<ol>
<li>
Select the <a href="/syndicate">Ablaza Syndicate</a>
</li>
<li>
Submit your startup or professional profile
</li>
<li>
The team reviews your submission and will be in touch within 72 hours
</li>
<li>
If accepted, your info will be shared with our members
</li>
<li>
Send updates to the syndicate and use it as a resource
</li>
</ol>

<h3>
For Investors
</h3>

<ol>
<li>
Select the <a href="/syndicate">Ablaza Syndicate</a>
</li>
<li>
Apply to join
</li>
<li>
Receive deal memos in your inbox
</li>
<li>
Attend webinars with the founders
</li>
<li>
Decide if you want to invest
</li>
</ol>

<div id="posts">
  <h2>Posts</h2>
  {% set postslist = collections.posts %}
  {% include "postslist.njk" %}
</div>