---
title: Choose Your Destiny
layout: layouts/home.njk
description: Technology Syndication by Xavi Ablaza
image: https://getablaza.com/img/ablaza-fb-og.png
date: 2025-04-18
---

<p>
I'm Xavi Ablaza - Data Center Mogul & Technical Founder.
</p>

<p>
In the war against your future problems, you begin by amassing wealth and abundance.
</p>

<p>
I will win each battle by syndicating with trusted friends.
</p>

<p>
By collectively building a shared pool of knowledge & opportunities,
the lives of the deserving can be changed for the better.
</p>

<div id="posts">
  <h2>Posts</h2>
  {% set postslist = collections.posts %}
  {% include "postslist.njk" %}
</div>
